In [19]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# build data directory
data_dir = '../../data/stage1'
os.listdir(data_dir)

['Churn_OD.txt',
 'Churn_UsersProfile.txt',
 'stage_1_challenge_1_dictionary.xlsx']

In [11]:
# Load user profiles
churn_od_df = pd.read_csv(
    os.path.join(data_dir, 'Churn_OD.txt'), 
    delimiter = "|",
    encoding = "ISO-8859-1"
)

In [12]:
churn_od_df.sort_values(by=['Demand_weight'], ascending = False).head(10)

,Region_of_Origin,District_of_Origin,County_of_Origin,Region_of_Public_Transportation,District_of_Public_Transportation,County_of_Public_Transportation,Dicofre_ParishCode_of_Public_Transportation,Demand_weight
1283,R2 - AM Porto,Aveiro,Oliveira de Azeméis,R1 - AM Lisboa,LISBOA,LISBOA,110654,0.766823
732,R1 - AM Lisboa,Setúbal,Alcochete,R1 - AM Lisboa,LISBOA,LISBOA,110608,0.592367
1332,R2 - AM Porto,Aveiro,Santa Maria da Feira,R2 - AM Porto,PORTO,PORTO,131218,0.488625
1446,R2 - AM Porto,Aveiro,Vale de Cambra,R1 - AM Lisboa,LISBOA,LISBOA,110633,0.480464
1887,R2 - AM Porto,Porto,Póvoa de Varzim,R2 - AM Porto,PORTO,VILA NOVA DE GAIA,131730,0.455933
1249,R2 - AM Porto,Aveiro,Espinho,R2 - AM Porto,PORTO,PORTO,131218,0.439698
907,R1 - AM Lisboa,Setúbal,Moita,R1 - AM Lisboa,LISBOA,LISBOA,110658,0.415096
1639,R2 - AM Porto,Porto,Matosinhos,R2 - AM Porto,PORTO,MATOSINHOS,130811,0.409841
1974,R2 - AM Porto,Porto,Trofa,R2 - AM Porto,PORTO,PORTO,131217,0.396178
2107,R2 - AM Porto,Porto,Vila do Conde,R2 - AM Porto,PORTO,MATOSINHOS,130812,0.385262

In [74]:
#churn_od_df.groupby(['County_of_Origin']).agg({'Demand_weight':'sum'})

## What is the most popular route from each county?

In [70]:
df_max_demand_from = churn_od_df.groupby(['County_of_Origin']).agg({'Demand_weight':'max'})
df_max_demand_from = pd.merge(churn_od_df, df_max_demand_from, on=['County_of_Origin', 'Demand_weight'], how = 'inner')
df_max_demand_from[['County_of_Origin','County_of_Public_Transportation','Demand_weight']].sort_values(by=['Demand_weight'], ascending = False)

        County_of_Origin County_of_Public_Transportation  Demand_weight
19   OLIVEIRA DE AZEMÉIS                          LISBOA       0.766823
9              ALCOCHETE                          LISBOA       0.592367
20  SANTA MARIA DA FEIRA                           PORTO       0.488625
22        VALE DE CAMBRA                          LISBOA       0.480464
28       PÓVOA DE VARZIM               VILA NOVA DE GAIA       0.455933
18               ESPINHO                           PORTO       0.439698
12                 MOITA                          LISBOA       0.415096
25            MATOSINHOS                      MATOSINHOS       0.409841
30                 TROFA                           PORTO       0.396178
32         VILA DO CONDE                      MATOSINHOS       0.385262
24                  MAIA                           PORTO       0.380782
27                 PORTO                           PORTO       0.365206
33     VILA NOVA DE GAIA               VILA NOVA DE GAIA       0.352942
0                AMADORA                          LISBOA       0.307323
23              GONDOMAR                           PORTO       0.295123
13               MONTIJO                          LISBOA       0.264795
6                 OEIRAS                          LISBOA       0.246656
3                 LOURES                          LISBOA       0.241210
11              BARREIRO                          LISBOA       0.232944
29           SANTO TIRSO                          LISBOA       0.210377
8    VILA FRANCA DE XIRA                          LISBOA       0.210287
15                SEIXAL                          LISBOA       0.197510
14               PALMELA                          LISBOA       0.188608
16              SESIMBRA                          LISBOA       0.187554
31               VALONGO                         VALONGO       0.179076
5               ODIVELAS                          LISBOA       0.170160
4                  MAFRA                          LISBOA       0.165056
21   SÃO JOÃO DA MADEIRA                          LISBOA       0.162432
2                 LISBOA                          LISBOA       0.162226
10                ALMADA                          LISBOA       0.154564
1                CASCAIS                          LISBOA       0.134300
17               SETÚBAL                          LISBOA       0.125811
26               PAREDES                            MAIA       0.122510
7                 SINTRA                          LISBOA       0.085503

## Routes per County

In [71]:
churn_od_df['County_of_Origin'] = churn_od_df['County_of_Origin'].str.upper()
(churn_od_df.groupby('County_of_Public_Transportation')
                           .agg({"County_of_Public_Transportation": 'count'})
                           .rename(columns={'County_of_Public_Transportation': 'number_of_routes'})
                           .sort_values(by=['number_of_routes'], ascending = False).head(10))
## most routes end at Lisboa followed by Porto
## numbers are high as there are multiple perish codes per county. Dont have perish codes for origin

                                 number_of_routes
County_of_Public_Transportation
LISBOA                                        752
PORTO                                         206
MAIA                                          184
VILA NOVA DE GAIA                             155
AMADORA                                       141
LOURES                                        127
MATOSINHOS                                    109
ALMADA                                         96
ODIVELAS                                       88
GONDOMAR                                       84

In [76]:
churn_od_df[churn_od_df['County_of_Public_Transportation'] == 'LISBOA']

,Region_of_Origin,District_of_Origin,County_of_Origin,Region_of_Public_Transportation,District_of_Public_Transportation,County_of_Public_Transportation,Dicofre_ParishCode_of_Public_Transportation,Demand_weight
0,R1 - AM Lisboa,Lisboa,AMADORA,R1 - AM Lisboa,LISBOA,LISBOA,110608,0.307323
1,R1 - AM Lisboa,Lisboa,AMADORA,R1 - AM Lisboa,LISBOA,LISBOA,110639,0.069997
2,R1 - AM Lisboa,Lisboa,AMADORA,R1 - AM Lisboa,LISBOA,LISBOA,110658,0.066059
3,R1 - AM Lisboa,Lisboa,AMADORA,R1 - AM Lisboa,LISBOA,LISBOA,110654,0.059847
4,R1 - AM Lisboa,Lisboa,AMADORA,R1 - AM Lisboa,LISBOA,LISBOA,110633,0.052341
...,...,...,...,...,...,...,...,...
2213,R2 - AM Porto,Porto,VILA NOVA DE GAIA,R1 - AM Lisboa,LISBOA,LISBOA,110621,0.000095
2217,R2 - AM Porto,Porto,VILA NOVA DE GAIA,R1 - AM Lisboa,LISBOA,LISBOA,110601,0.000053
2219,R2 - AM Porto,Porto,VILA NOVA DE GAIA,R1 - AM Lisboa,LISBOA,LISBOA,110607,0.000040
2244,R2 - AM Porto,Porto,VILA NOVA DE GAIA,R1 - AM Lisboa,LISBOA,LISBOA,110611,0.000001
2245,R2 - AM Porto,Porto,VILA NOVA DE GAIA,R1 - AM Lisboa,LISBOA,LISBOA,110664,0.000001

#### Most routes end in Lisboa and Porto

## Internal routes

In [68]:
churn_od_df['County_of_Origin'] = churn_od_df['County_of_Origin'].str.upper()
routes_count = (churn_od_df.groupby('County_of_Origin')
                           .agg({"County_of_Origin": 'count'})
                           .rename(columns={'County_of_Origin': 'number_of_routes'})
                           .sort_values(by=['number_of_routes'], ascending = False))

churn_od_df_internal = churn_od_df[churn_od_df['County_of_Public_Transportation'] == churn_od_df['County_of_Origin']]
churn_od_df_internal_agg = (churn_od_df_internal.groupby('County_of_Origin')
                    .agg({'County_of_Origin': 'count'})
                    .rename(columns={'County_of_Origin': 'number_of_routes_internal'}))
            

routes_count_final = pd.merge(routes_count, churn_od_df_internal_agg, left_index=True, right_index=True,  how = 'inner')
routes_count_final['percentage_of_routes_internal'] = routes_count_final['number_of_routes_internal']/ routes_count_final['number_of_routes']
routes_count_final['number_of_routes_external'] =  routes_count_final['number_of_routes'] - routes_count_final['number_of_routes_internal']
routes_count_final['percentage_of_routes_external'] =  1-  routes_count_final['percentage_of_routes_internal']
routes_count_final

,number_of_routes,number_of_routes_internal,percentage_of_routes_internal,number_of_routes_external,percentage_of_routes_external
County_of_Origin,,,,,
LISBOA,99,24,0.242424,75,0.757576
PORTO,95,7,0.073684,88,0.926316
MAIA,91,10,0.109890,81,0.890110
SINTRA,89,1,0.011236,88,0.988764
GONDOMAR,88,5,0.056818,83,0.943182
MATOSINHOS,88,4,0.045455,84,0.954545
VILA NOVA DE GAIA,86,10,0.116279,76,0.883721
OEIRAS,86,3,0.034884,83,0.965116
VALONGO,83,4,0.048193,79,0.951807
SEIXAL,83,1,0.012048,82,0.987952
AMADORA,77,6,0.077922,71,0.922078
ODIVELAS,76,4,0.052632,72,0.947368
ALMADA,73,4,0.054795,69,0.945205
LOURES,71,6,0.084507,65,0.915493
PAREDES,65,4,0.061538,61,0.938462
VILA DO CONDE,60,1,0.016667,59,0.983333
SANTO TIRSO,30,1,0.033333,29,0.966667

In [72]:
# can filter out return trips?

In [77]:
pd.crosstab(churn_od_df.County_of_Origin , churn_od_df.County_of_Public_Transportation )

County_of_Public_Transportation,ALMADA,AMADORA,GONDOMAR,LISBOA,LOURES,MAIA,MATOSINHOS,ODIVELAS,OEIRAS,PAREDES,PORTO,SANTO TIRSO,SEIXAL,SINTRA,TROFA,VALONGO,VILA DO CONDE,VILA NOVA DE GAIA
County_of_Origin,,,,,,,,,,,,,,,,,,
ALCOCHETE,0,2,0,19,2,0,0,0,1,0,2,0,0,0,0,0,0,0
ALMADA,4,6,2,24,6,7,4,4,3,0,7,1,1,1,0,2,1,0
AMADORA,4,6,3,24,6,3,4,4,3,4,7,2,1,1,0,4,0,1
BARREIRO,4,5,2,24,4,2,4,2,3,4,7,2,1,0,0,3,0,9
CASCAIS,4,6,5,24,6,9,4,4,3,4,7,2,1,1,0,4,1,4
ESPINHO,0,3,0,11,0,3,4,0,0,0,7,0,0,0,0,0,1,5
GONDOMAR,4,4,5,24,3,10,4,1,3,4,7,2,0,0,2,4,1,10
LISBOA,4,6,4,24,6,10,4,4,3,4,7,2,1,1,3,4,2,10
LOURES,4,6,1,24,6,5,4,4,3,0,7,0,1,1,0,0,0,5
MAFRA,4,6,4,24,6,5,4,4,3,0,7,1,1,1,0,2,1,2
MAIA,4,4,5,24,3,10,4,1,3,4,7,2,1,0,3,4,2,10
MATOSINHOS,4,3,4,24,3,10,4,4,2,4,7,2,0,0,2,4,1,10
MOITA,4,5,2,24,5,3,4,4,3,0,3,1,1,0,0,2,0,0
MONTIJO,3,5,0,24,4,1,2,3,2,0,5,0,1,0,0,0,0,0
ODIVELAS,4,6,3,24,6,3,3,4,3,4,6,2,1,1,0,4,0,2
OEIRAS,4,6,4,24,6,7,4,4,3,4,7,2,1,1,0,4,0,5
OLIVEIRA DE AZEMÉIS,1,0,0,22,5,2,4,4,1,0,7,0,0,0,0,0,1,2
PALMELA,4,5,0,24,5,1,1,4,2,0,5,0,1,0,0,0,0,0
PAREDES,0,3,4,18,2,9,4,4,0,4,7,2,0,0,0,4,1,3
PORTO,4,4,5,24,4,10,4,4,3,4,7,2,1,0,3,4,2,10
PÓVOA DE VARZIM,0,3,1,22,2,7,4,0,1,0,7,0,0,0,0,0,1,9
SANTA MARIA DA FEIRA,4,5,4,24,2,7,4,1,2,0,7,0,1,0,0,1,1,10
SANTO TIRSO,0,3,2,14,0,4,0,0,2,0,2,1,0,0,0,2,0,0
SEIXAL,4,6,4,24,6,9,4,4,3,0,7,1,1,1,0,4,0,5
SESIMBRA,4,3,0,24,2,0,0,4,2,0,4,0,1,0,0,0,0,0
SETÚBAL,4,5,0,24,6,0,1,4,3,0,4,0,1,0,0,0,0,0
SINTRA,4,6,3,24,6,6,4,4,3,4,7,2,1,1,0,4,1,9
SÃO JOÃO DA MADEIRA,0,6,1,23,0,0,0,1,2,0,4,0,0,1,0,0,0,3
TROFA,0,0,2,19,2,6,4,0,0,0,6,1,0,0,0,2,1,7
VALE DE CAMBRA,0,0,1,6,0,1,2,0,0,0,4,0,0,0,0,0,0,0
VALONGO,4,1,5,23,3,10,4,1,1,4,7,2,1,0,2,4,2,9
VILA DO CONDE,0,3,2,23,2,9,4,1,1,0,7,1,0,0,0,2,1,4
VILA FRANCA DE XIRA,4,6,1,24,6,5,4,4,3,0,7,0,1,1,0,2,1,1
VILA NOVA DE GAIA,4,3,5,24,2,10,4,1,2,4,7,2,1,0,2,4,1,10